body{
  background: #fafafa !important;
}

.account-summary{
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions{
  background: #fff;
  padding:15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.img-circle{
  border-radius: 50%;
}

.profile-stats{
  max-width:360px;
  // float: left;
  margin-bottom: 30px;

}

.profile-posts{
  margin-top: 50px;
}

.btn-custom{
  background: transparent;
  border:2px solid #ccc !important;
  border-radius: 4px !important;
  margin: 5px 20px;
}

.btn-custom:hover{
  background: #ddd !important;
}

.m-r-15{
  margin-right: 15px;
}


.m-r-10{
  margin-right: 10px;
}

.m-l-15{
  margin-left: 15px;
}

.m-l-30{
  margin-left: 30px;
}