<div class="container">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8 text-left">
    <h1><%= @account.full_name %></h1>
    <div class="profile-status"><%= @account.posts.count %>posts</div>
    <div class="profile-status"><%= @account.total_followers %>followers</div>
    <div class="profile-status"><%= @account.total_following %>following</div>
    </div>
  </div>
</div>